{% extends "default-login.html" %} {% block title %}Forget Password{% endblock
%} {% block head %}{% endblock %} {% block imageText %} You can change your
password from here {% endblock %} {% block content %}
<div class="login-signup d-flex">
  <form action="/change-password" class="align-self-center" method="POST">
    <center>
      <h2><strong>Forget Password</strong></h2>
    </center>
    {% if passwordMsg %}
     {% if passwordMsg.id==9 %}
        <div class="alert alert-success">
        <strong>SUCCESS!</strong> {{passwordMsg.msg}}
        </div>
    {% endif %}
    {% if passwordMsg.id==8 %}
        <div class="alert alert-danger">
        <strong>ERROR!</strong> {{passwordMsg.msg}}
        </div>
    {% endif %}
    {% if passwordMsg.id==3 %}
        <div class="alert alert-warning">
        <strong>Warning!</strong> {{passwordMsg.msg}}
        </div>
    {% endif %}
    {% endif %}
    <div class="forget-pass-field">
      <div class="form-group mt-0 mb-0">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="abc@email.com"
          name="email"
          required
        />
      </div>
    </div>
    <center>
      <button
        class="btn btn-primary mt-1"
        name="action"
        value="forget-password"
      >
        Send Password
      </button>
    </center>
  </form>
</div>
{% endblock %}
