{% extends "default-login.html" %} {% block title %}Change Password{% endblock
%} {% block head %}{% endblock %} {% block imageText %} You can change your
password from here {% endblock %} {% block content %}
<div class="login-signup d-flex">
  <form action="/new-password-update" class="align-self-center" method="POST">
    <center>
      <h2><strong>Enter Your Password</strong></h2>
    {% if msg %}
    {% if msg.id==12 %}
        <div class="alert alert-danger">
        <strong>ERROR!</strong> {{msg.msg}}
        </div>
    {% endif %}
    {% if msg.id==11 %}
        <div class="alert alert-danger">
        <strong>ERROR!</strong> {{msg.msg}}
        </div>
    {% endif %}
    {% if msg.id==3 %}
        <div class="alert alert-warning">
        <strong>Warning!</strong> {{msg.msg}}
        </div>
    {% endif %}
    {% endif %}
    </center>
    <input type="email" name="email" value="{{email}}" hidden />
    <div class="forget-pass-field">
      <div class="form-group mt-0 mb-0">
        <label for="new-pass">New Password</label>
        <input
          type="password"
          class="form-control"
          id="new-pass"
          placeholder="*********"
          name="pass"
          required
        />
      </div>
      <div class="form-group mt-0 mb-0">
        <label for="confirm-pass">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirm-pass"
          placeholder="*********"
          name="confirmpass"
          required
        />
      </div>
    </div>
    <center>
      <button
        class="btn btn-primary mt-1"
        name="action"
        value="update-password"
      >
        Update Password
      </button>
    </center>
  </form>
</div>
{% endblock %}
